{% extends 'base/layout.html' %}
{% load static %}
{% load helpers %}
{% block content %}

<style>

.fancytree-expander {
  margin-right: 5px;
}
.mdi-empty {
  margin-right: 20px;
}
.fancytree-icon {
  margin-right: 5px;
}

</style>

 <table id="tree" class="table table-hover table-headings">
    <colgroup>
    <col ></col>
    <col ></col>
    <col ></col>
    <col ></col>
    <col ></col>
    <col ></col>
    <col ></col>
    </colgroup>
    <thead>
      <tr> <th></th> <th>Description/Device</th> <th>Status</th> <th>Role</th> <th>Utilization</th> <th>Site</th> <th>Vlan</th> </tr>
    </thead>
  </table>

{% endblock %}


{% block javascript %}

<script src="{% static 'ipamtree/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'ipamtree/jquery-ui.min.js' %}"></script>
<script src="{% static 'ipamtree/jquery.fancytree-2.38.3-all-deps.min.js' %}"></script>
<script src="/static/ipamtree.js"></script>

{% endblock %}
